* {
  box-sizing: border-box;
}
*::selection {
  background: #c2c793;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 18px;
  background-color: #ffebb5;
}
.portfolio {
}
.portfolio-title {
  font-size: 38px;
  margin: 40 20px 0 0px;
  text-align: center;
}
.portfolio-description {
  font-size: 24px;
  margin: 7px 20px 0 20px;
  text-align: center;
  color: #f47133;
}
.portfolio-content {
  margin-top: 20px;
  padding: 40px;
  display: grid;
  gap: 30px;
  background-color: whitesmoke;
}
@media (min-width: 640px) {
  .portfolio-content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 960px) {
  .portfolio-content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.portfolio-img-content {
  padding: 20px;
}
.portfolio-card:hover {
  box-shadow: 0 0 20px #063831;
}
.portfolio-card {
  border: solid 2px #063831;
  border-radius: 10px;
  flex-grow: 1;
  width: 100%;
}
.portfolio-img-content {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-img {
  height: auto;
  width: 100%;
}
.portfolio-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 255px;
  padding: 20px;
}
.portfolio-card-title {
  font-size: 30px;
  margin: 0;
}
.portfolio-card-title::selection {
  background: #c2c793;
  color: #fff;
}
.portfolio-card-text {
  margin: 0;
}
.portfolio-card-text::selection {
  background: #c2c793;
  color: #fff;
}
.portfolio-card-link {
  color: #51aff3;
  display: block;
  text-align: center;
  margin: auto 0 0 auto;
  width: 100%;
}
.portfolio-card-link-button {
  height: 50px;
  font-family: "Poppins", sans-serif;
  background-color: #d6814a;
  color: #ffebb5;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  width: 100%;
  max-width: 380px;
  margin-bottom: 0;
  text-align: center;
}
.portfolio-card-link-button:hover {
  color: #d6814a;
  background-color: #fdcd95;
}
.portfolio-card-link-button:active {
  box-shadow: 0 0 24px #d6814a;
}
.seccion-footer {
  height: 493px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
@media (min-width: 900px) {
  .seccion-footer {
    height: 493px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.logo-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.imagen-logo-footer {
  width: 120px;
  height: 120px;
  display: block;
}

.derechos-reservados {
}

.redes-sociales {
  display: flex;
  flex-direction: column;
  margin-top: 80px auto auto auto;
}

.red-social {
  margin-top: 25px;
  display: flex;
  align-content: center;
}

.logo-linkedin,
.logo-github {
  width: 30px;
  height: 30px;
  display: inline;
  margin: auto 0;
}

.linkedin,
.github {
  display: inline;
  margin: auto 8px;
}
.red-social:hover {
  box-shadow: 0 0 20px #f47133;
}
